**K-Neighbors Classifier**

In [ ]:
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::: KNN Classifier ::::::::::::::::::::::::::::::::::::::::::::::

In [28]:
#Step1:
#Import all the libraries
import pandas as pd
import numpy as np  #It creates multi dimensional array
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler

In [30]:
#Step 2:
#Load and read the dataset
d = pd.read_csv('Data.csv',index_col = 0)
#Set index_col = 0, it will automatically set these feature names in first row.
#Target class has 1s and 0s all the way

In [ ]:
d.head()

        WTT       PTI       EQW  ...       HQE       NXJ  TARGET CLASS
0  0.913917  1.162073  0.567946  ...  0.879422  1.231409             1
1  0.635632  1.003722  0.535342  ...  0.621552  1.492702             0
2  0.721360  1.201493  0.921990  ...  0.957877  1.285597             0
3  1.234204  1.386726  0.653046  ...  1.522692  1.153093             1
4  1.279491  0.949750  0.627280  ...  1.463812  1.419167             1

[5 rows x 11 columns]

In [31]:

#Standardize the data
''' The respective dataset may be calculated in some different units or weights, so we need to bring it back to 
the normal scale. Therefore we need its standardization where we have all the data in similar form.To do so we are gonna use 
standard scaler for scalling. For standard scaler we are gonna import the StandardScaler from sklearn.preprocessing.
 '''

#Now to create an object of standard scaler
scaler  = StandardScaler()

#Now to do the fit, where we are gonna drop the TARGET CLASS, because it a dependent feature 
# We need standard scalling on independent features(inputs with weights), not dependent. so drop the dependent feature(TARGET CLASS)

scaler.fit(d.drop('TARGET CLASS', axis = 1))

StandardScaler()

In [32]:

#Now to do the transformation
scaled = scaler.transform(d.drop('TARGET CLASS',axis = 1)) #We did transformation of the data and stored it in scaled
#axis = 1, taking all the columns execpt TARGET CLASS.

#The next step is to take the independent features
ind = pd.DataFrame(scaled,columns = d.columns[:-1]) # skipping the last column and picking all the other columns
ind.head()

        WTT       PTI       EQW  ...       PJF       HQE       NXJ
0 -0.123542  0.185907 -0.913431  ... -1.482368 -0.949719 -0.643314
1 -1.084836 -0.430348 -1.025313  ... -0.202240 -1.828051  0.636759
2 -0.788702  0.339318  0.301511  ...  0.285707 -0.682494 -0.377850
3  0.982841  1.060193 -0.621399  ...  1.066491  1.241325 -1.026987
4  1.139275 -0.640392 -0.709819  ... -1.472352  1.040772  0.276510

[5 rows x 10 columns]

In [ ]:
#Step 3: Cleaning of the data. Data is already clean, so we need to skip step 3 here

In [33]:
#Step 4
#Now to do the training and testing procedure
x_train, x_test, y_train, y_test = train_test_split(scaled,d['TARGET CLASS'],test_size = 0.30)
# scaled are independent features, 'TARGET CLASS' is dependent feature and the test size is 30%

In [34]:
# Step 5:
#Now to create the KNN classifier with k = 1
model = KNeighborsClassifier(n_neighbors=1)

In [35]:
# Step 6:
#Now to train the model
model.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [36]:
# Step 7:
#Now to do the prediction
prediction = model.predict(x_test)

In [37]:
# Step 8:
# Final evaluation of the model
''' Confusion matrix tells us how good is the model. What's the precision and accuracey rate
 '''
print(confusion_matrix(y_test,prediction))

[[132  19]
 [ 12 137]]

In [38]:

#Check the precision score
print(classification_report(y_test,prediction))  #still we have a better precision in below table, but how to get the exact k value? let's do it

              precision    recall  f1-score   support

           0       0.92      0.87      0.89       151
           1       0.88      0.92      0.90       149

    accuracy                           0.90       300
   macro avg       0.90      0.90      0.90       300
weighted avg       0.90      0.90      0.90       300

In [42]:

#Now to increase the value of k, let's suppose my k=23
model = KNeighborsClassifier(n_neighbors= 23)
model.fit(x_train,y_train)
prediction = model.predict(x_test)
print(confusion_matrix(y_test,prediction))
print(classification_report(y_test,prediction))

[[135  16]
 [  9 140]]
              precision    recall  f1-score   support

           0       0.94      0.89      0.92       151
           1       0.90      0.94      0.92       149

    accuracy                           0.92       300
   macro avg       0.92      0.92      0.92       300
weighted avg       0.92      0.92      0.92       300